/**Шрифты**/
@font-face {
    display: swap;
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    display: swap;
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    display: swap;
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
/** Общие стили */
.link-style {
    color: #fff;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}
.link_white {
    font-family: 'IBM Plex Sans';
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
}
.link_white:hover {
    color: #A3CC40;
}
.link_underline {
    border-bottom: 1px;
}
/** Сетка макета */
form {
    width: 400px;
    }
    input, textarea, select {
    font-size: 19px;
    color: #6c6c6c;
    padding: 15px 11px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    width: 100%;
    outline: 0;
    transition: .2s;
    }
    /** Компоненты */
    select {
    -webkit-appearance: none; -moz-appearance: none;
    appearance: none;
    background: url('../img/down-arrow.svg') 96% center / 5% no-repeat
    #fff;
    }
    input[type="radio"], input[type="checkbox"] {
        float: left; }

    input[type="radio"] + label, input[type="checkbox"] + label {
    font-size: 16px;
    padding-left: 23px;
    position: relative;
    }
    input[type="radio"] + label::before, input[type="checkbox"] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 14px;
    height: 14px;
    border: 1px solid #000;
    }
    input[type="radio"] + label::before {
    border-radius: 100%;
    }
    input[type="textarea"] {
    height: 250px;
    resize: none;
    }
    input[type="file"] {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    z-index: 1;
    box-shadow: none;
    border: 0;
    }
    input[type="file"] + label {
    font-size: 18px;
    color: #90d23d;
    position: relative;
    border: 1px solid #90d23d;
    padding: 15px;
    z-index: 2;
    background: #fff;
    width: 100%;
    display: block;
    cursor: pointer;
    border-radius: 5px;
    }
    input[type="button"], button {
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    }
    input[type="button"]:hover, button:active {
        border:none;
        }
        .button {
        display: inline-block;
        padding: 16px 30px;
        font-size: 18px;
        color: #fff;
        background-color: rgb(144, 210, 61);
        border-radius: 15px;
        }
        /** Сетка макета **/
.table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    width: 849px;
    margin: auto;
}
/** Компоненты */
.table th {
    background: rgba(163, 204, 64, 1); 
    color: #fff;
    font-weight: 600px;
    font-size: 20px;
    line-height: 1.3;
    padding: 10px 20px;
    text-align: left;
}
.table td {
    background: rgba(51, 51, 51, 1); 
    color: #fff;
    padding: 10px 20px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}
.table tr:nth-child(2n+1) td {
    background: rgba(76, 77, 79, 1); 
}
.block01 {
    min-height: 100vh;
    background: url('../images/10.png') no-repeat; 
    background-size: cover;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.block01::after {
    content: '';
    display: block;
    border-top: 100px solid transparent;
    border-right: 100vw solid #fff;
    position: absolute;
    left: 0;
    bottom: 0;
} 
.block01_col1 {
    float: left;
}
.block01_col2 {
    float: left;
}
.block01_tel,
.block01_mail,
.block01_adres,
.block01_call {
    float: left;
    line-height: 2;
    margin: 0;
    padding-left: 50px;
    
}

.block01_lng{
    float: right;
}
.dropdown{
    position: relative;
}
.dropdown_list{
    position: absolute;
    display: none;
    background: rgba(0,0,0,.8);
    left: -15px;
    bottom: 0;
    transform: translateY(100%);
}
.dropdown_list a{
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: .2s;
    padding: 5px 15px;
    display: block;
}
.dropdown_list a:hover{
    color: #A3CC40;
    background: #000;
}
.dropdown_trigger span{
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    display: inline-block;
    transition: 0,2s;
}
.dropdown_trigger svg {
    fill: #fff;
    vertical-align: middle;
    display: inline-block;
    margin-top: 3px;
}
.dropdown_trigger:hover span{
   color: #A3CC40;
}
.dropdown_trigger:hover svg{
   fill: #A3CC40 ;
}
.dropdown_opened .dropdown_trigger svg{
    transform: rotate(180deg);
}
.dropdown_opened .dropdown_list {
    display: block;
}
.block01_row2 { 
    float: left;
    line-height: 2;
    margin: 0;
    padding-left: 50px;
}
.block01_row2_elements {
    float: left;
    line-height: 2;
    margin: 0;
    padding-right: 50px;
}
.block01_row_contact {
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
}
.block01_row_contact:hover {
    color: #A3CC40;
} 
.block01_ticket {
    width: 100%;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 68px;
    line-height: 88px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 130px;
    float: left;
}
.block01_gift {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 41px;
    line-height: 53px;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    float: left;
    padding-top: 19px;

}
.block02_inner{
    position: relative;
}
.block02_info{
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 27px 39px rgba(163, 204, 64, 0.18);
    border-radius: 10px;
    padding: 30px 47px;
    max-width: 426px;
    right: 300px;
    bottom: -50px;
}
.block02_welcome{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 43px;
    margin-bottom: 22px;
    color: #333333;
}
.block02_text{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #333333;

}
.block02_text2{
    margin-bottom: 15px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #333333; 
}
.feedback {
    width: 767px;
    height: 527px;
    border-radius: 20px;
    margin: auto;
    overflow: hidden;
    box-shadow: 8px 9px 39px rgba(185, 185, 185, 0.37);
    margin-top: 81px;
}
.feedback_heading {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 20px;
    color: #A3CC40;
}
.feedback_col1 {
    float: left;
    width: 45%;   
}
.feedback_col2 {
    float: left;
    width: 40%;
    padding-left: 9%; 
}
.table_td1 {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}
.class6{
    background: rgba(163, 204, 64, 1); color: #fff;
}

.parent_we {
    Width: 1171px;
    overflow: hidden;
    margin: auto;
    float: left;
}
.class7_we {
    width: 33.33%;
    float: left;

}
.we_heading{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    margin-top: 35px;
    margin-bottom: 25px;
    width: 245px;
    height: 26px;
    left: 140px;
    top: 1047px;
}
.we_text{
    width: 245px;
    height: 83px;
    left: 140px;
    top: 1098px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
}
.heading {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    color: #A3CC40;
    text-align: left;
    margin-bottom: 84px;
    margin-top: 44px;
}
.present {
    margin-top: 83px;
    min-height: 100vh;
    background: url('../images/presents.png') no-repeat; 
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.present::after {
    content: '';
    display: block;
    border-bottom: 100px solid transparent;
    border-left: 100vw solid #fff;
    position: absolute;
    right: 0;
    top: 0;
}

.present_heading {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    text-align: right;
    margin-top: 100px;
    color: #FFFFFF;
    margin-right: 136px;
    margin-bottom: 38px;
}
.present_block{
    width: 548px;
    height: 173px;
    top: 2447px;
    left: 441px;
    float: right;
}
.presents_img {
    width: 302px;
    height: 302px;  
    margin-left: 140px;
    float: left;
   
}
img.presents_img {
    border-radius: 151px;
}
.present_text {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14,3px;
    text-align: right;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: 136px;
    margin-bottom: 15px;
}
.parent_reviews {
    min-height: 100vh;
    background: url('../images/parent_reviews.png') no-repeat;
    background-size: cover; 
    color:#fff;
    overflow: hidden;
    float: right;
    margin: auto;
    position: relative;
}
.reviews {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    color: #A3CC40;
    margin-top: 126px;  
    margin-bottom: 26px;
}
.class8_reviews1 {
    margin: 6%;
    width: 210px;
    height: 284px;
    float: left;
    background: #97B13C;
    border-radius: 9px;
    color: #fff;
}
.class8_reviews2 {
    margin: 3%;
    width: 246px;
    height: 332px;
    float: left; 
    background: #97B13C;
    border-radius: 10px;
    color: #fff;
}
.parent_films {
    height: 850px;
    width: 850px;
    color:#fff;
    overflow: hidden;
    margin: auto;
}
.class9_films {
    float: left;
    margin: auto;
    width: 283px;
    height: 283px;
    background: rgba(144, 210, 61, 0.4);   
}
.class9_films img {
    width: 283px;
    height: 283px; 
}
.product_conteiner{
    width: 33.33%;
    margin-left: 140px;
}
.product_inner {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}
.product_item {
    position: relative;
    width: 244px;
    border-radius: 10px;
    overflow: hidden;
    float: left;
    margin-left: 55px;
}
.product_item img {
    display: block;
}
.product_abs {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom-left-radius : 10px;
    border-bottom-right-radius : 10px;
    background: rgba(163, 204, 64, 0.8);
    padding: 14px;
    text-align: center;
    font-size: 1.3;
    font-weight: 600;
    color: #FFFFFF;
    
    
}
.product_abs::after {
    position: absolute;
    content: '';
    display: block;
    border-top: 100px solid transparent;
    border-right: 244px solid  rgba(163, 204, 64, 0.8);
    top: 0;
    left: 0px;
    transform: translateY(-100%);
    

}
.footer {
    background: #A3CC40;
    color:#fff;
    overflow: hidden;
}
.footer_col1 {
    float: left;
    width: 20%;
    margin-top: 84px;
    margin-left: 89px;
}
.footer_col2 {
    float: left;
    width: 116px;
    margin-left: 20%;
    margin-top: 84px;

} 
.footer_col3 {
    float: left;
    width: 270px;
    margin-top: 84px;
    margin-left: 89px;
}
.footer_col_txt {
    width: 270px;
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    }
.footer_site {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 22px; 
    
}
.footer_link {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;  
}
.copyright {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 99px;
    width: 436px;
}